<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Project, <%= @project.name %> successfully created.</h1>
    <p>
      To view, just follow this link: <%= @url %>.
    </p>
    <p>Thanks, and have a great day!</p>
  </body>
</html>
